#!/usr/bin/env bash

# copy me to .env.sh and add variables below

# username and password [required for 103_iaas]
export ADMIN_USERNAME=
export ADMIN_PASS=

# azure service principal with RBAC permissions to create ARM resources [required for 103_iaas]
export AZURE_DOMAIN=
export AZURE_CLIENT_ID=
export AZURE_CLIENT_SECRET=

# ansible settings [required for 103_iaas]
export ANSIBLE_LIBRARY=~/ansible/ansible-modules-core:~/ansible/ansible-modules-extras
